* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*приоритетнось обращения к элементу через родителя увеличивается*/
/* body .main {
    width: 500px;
} */

.main {
    width: 800px;
    /* height: fit-content;  */
    /*относительно размеров содержимого */
    height: 600px;
    background: burlywood;
    display: flex;
    position: relative;
    margin: 50px auto;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* justify-content: flex-end;
    align-items: flex-end; */
    column-gap: 50px; /*минимальный отступ, который не зависит от размера родителя*/
    row-gap: 100px;
    flex-wrap: wrap; /*не входящие элементы будут переноситься*/
    /* padding: 50px;
    border: 25px solid black; */
}

.main__child {
    width: 300px;
    height: 250px;
    display: block;
    position: relative;          
}

.bl1 {
 background: red;
}

.bl2 {
    background: green;
}

.bl3 {
    background: blue;
}