* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(90deg, #b9deed, #efefef);
}

p {
	text-indent: 20px;
	/* Отступ первой строки в пикселах */
}

td {
	padding: 5px;
}

.adminShow {
	width: 80%;
	margin-left: 100px;
}

#logo {
	width: 15%;
	float: right;
}

#userData {
	width: 700px;
	color: darkcyan;
}

#registration {
	z-index: 2;
	position: absolute;
	right: 25px;
	text-align: left;
	display: flex;
	align-items: center;
}

#employeesesList {
	width: 150px;
	height: 20px;
	font-size: 14px;	
}

#listOfDialogues {
	margin: 20px;
}

#registration_button {
	width: 100px;
    height: 20px;
    font-size: 14px;
    margin: 10px 50px 0 0;
	display: none;
}

#progress {
	border: 1px solid cadetblue;
	margin-left: 20px;
	padding: 5px;
	width: 200px;
	color: brown;
	font-size: 18px;
	font: caption;
}

#progress_bar_color {
	width: 0%;
	height: 10px;
	background-color: mintcream;
}

#send {
	float: left;
	margin-left: 25px;
	display: none;
}

#popup_0 {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(169, 169, 169, 0.8);
}

#popup1 {
	margin: 5% 0 0 15%;
	width: 60%;
	min-height: 100px;
	padding: 10px 0 0 10px;
	font-size: 18px;
	/*background-color: rgba(255, 160, 122, 0.8);*/
	border-radius: 15px;
	z-index: 2;
	position: fixed;
	opacity: 0;
	visibility: hidden;

}

#dataOfDialogue {
	margin: -20px 0 10px 0px;
	text-align: center;
	background: antiquewhite;
	color: brown;
}

#popup1_close {
	top: -25px;
	right: -25px;
	position: absolute;
	text-decoration: none;
	/*float: right;
	margin: 0 15px 0 0;*/
	background: brown;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 15px;
	text-align: center;
	color: aliceblue;
	cursor: pointer;
}

#popup1_close:hover {
	color: rgba(255, 160, 122, 0.8);
}

#popup1_txt {
	display: block;
	max-height: 60vh;
	overflow: auto;
	border-radius: 13px;
	border: 14px solid rgba(255, 160, 122, 0.8);
	background: beige;
	color: darkgreen;
	font-size: larger;
	padding: 10px;
	line-height: 1.5;
	font-family: sans-serif;
	overflow: auto;
}

input {
	width: 300px;
	height: 25px;
	border-radius: 5px;
	font-size: larger;
	padding: 5px;
}

button {
	width: 200px;
	margin: 5px;
	padding: 2px;
	min-height: 25px;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	background-color: mintcream;
	font-size: 16px;
	color: currentcolor;
}

button:hover {
	background-color: burlywood;
	color: currentcolor;
}

.btn_sub-division {
	width: 50px;
	height: 30px;
	margin: 0 0 0 5px;
}

.btn_sub-division * {
	bottom: 14px;
	position: absolute;
	display: none;
	background-color: aliceblue;
	padding: 2px;
	border-radius: 4px;
}

.btn_sub-division:hover * {
	display: block;
}

.btn_selected {
	background: linear-gradient(45deg, black, transparent);
	color: aliceblue;
}

ol {
	color: currentcolor;
}

ul {
	list-style-type: none;
	margin: 20px 0 20px 0;
	color: currentcolor;
	;
}

li {
	margin: 5px;
}

.status {
	cursor: pointer;
}

.Services {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

.objectionsNew {
	display: grid;
	width: 1000px;
	grid-template-columns: repeat(4, 1fr);
}

.presentationsUrgentScripts {
	width: 50%;
	font-size: 16px;
}

.getSelect{
	width: 100px;
}

#header {
	position: sticky;
	top: 0;
	background: linear-gradient(90deg, #b9deed, #efefef);
}

#header_top {
	width: max-content;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

#header_bottom {
	width: auto;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

#header_top_left {
	display: flex;
}

#urgentScripts {
	width: 500px;
	/*display: none;*/
}

#icon_home {
	fill: linear-gradient(45deg, black, transparent);
	cursor: pointer;
	float: left;
	margin-left: 10px;
}

#content {
	display: flex;	
}

#databaseStatus {
	float: left;
    margin: -40px 0 0 20px;
}

#left_bar {
	float: left;
	border-right: solid 3px antiquewhite;
}

#base_script {
	width: 67%;
	float: left;
}

#contact-scripts {
	display: none;
}

#right_bar {
	padding-right: 25px;
	float: right;
	border-left: solid 3px antiquewhite;
	display: none;
}

#left_bar,
#right_bar {
	min-width: 15%;
	margin: 10px;
	line-height: 2;
	font-size: 18px;
	font-style: italic;
}

#selectMenu{
	display: flex;
    justify-content: space-between;
    width: 80%;
}

#block_script,
#block_presentations {
	position: fixed;
	padding: 0 25px;
}

#greetings {
	display: flex;
	color: currentcolor;
	font-size: larger;
	font: icon;
	justify-content: center;
}

#objections {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	display: none;
	margin-top: -50px;
}

#footer {
	position: fixed;
	bottom: 0px;
}

#main_scenario {
	padding: 20px;
	font-size: 18px;
	line-height: 2;
	overflow: auto;
}

#inputName {
	display: flex;
	color: currentcolor;
	flex-direction: column;
	align-items: center;
	line-height: 2;
}

@media (max-width: 1400px) {
	body {
		/*background: red;*/
	}
}

#strela {
	float: right;
	color: red;
	display: inline;
	font-size: 25px;
}

/* Логотип */
.loader {
	font-size: 46px;
	font-family: math;
	font-weight: bold;
	display: inline-block;
	color: crimson;
	letter-spacing: 2px;
	position: relative;
	box-sizing: border-box;
}

.loader::after {
	content: 'ОФИСМАГ';
	position: absolute;
	left: 0;
	top: 0;
	color: #FFF;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	animation: animloader 5s linear infinite;
}

@keyframes animloader {
	0% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

/* many */

.many {
	transform: translateZ(1px);
	display: none;
}

.many:after {
	content: '$';
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
	background: mintcream;
	color: #DAA520;
	border: 4px double;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
	animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes coin-flip {

	0%,
	100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}

	0% {
		transform: rotateY(0deg);
	}

	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}

	100% {
		transform: rotateY(3600deg);
	}
}